<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Index</title>
</head>
<body>
    <nav class="d-flex justify-content-center">
        <h3>Registration</h3>
        <a th:href="@{/dashboard}">Dashboard</a>
        <a th:href="@{/plan}">My Plan</a>
        <a th:href="@{/courses}">Course Catalog</a>
        <div style="margin-top: auto;">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <h2 th:text="${username != null ? username : 'User'} + '\'s Dashboard'">Dashboard</h2>
        <div id="progress" class="card mb-3 d-flex justify-content-around">
            <div class="mb-3">
                <h3>Degree Progress</h3>
                <p th:text="'Credits: ' + ${degHave} + '/' + ${degNeed}">Credits: 0/120</p>
            </div>
            <div class="mb-3">
                <h3>Major Progress</h3>
                <p th:text="'Credits: ' + ${majHave} + '/' + ${majNeed}">Credits: 0/50</p>
            </div>
            <div class="mb-3" th:if="${user != null and user.minor != null}">
                <h3>Minor Progress</h3>
                <p th:text="'Credits: ' + ${minHave} + '/' + ${minNeed}">Credits: 0/25</p>
            </div>
            <div class="mb-3">
                <h3>Arts and Humanities Progress</h3>
                <p th:text="'Credits: ' + ${ahHave} + '/' + ${ahNeed}">Credits: 0/10</p>
            </div>
            <div class="mb-3">
                <h3>Science and History Progress</h3>
                <p th:text="'Credits: ' + ${shHave} + '/' + ${shNeed}">Credits: 0/10</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>