<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Index</title>
</head>
<body>
    <h2>Registration</h2>
    <div>
    <div sec:authorize="!isAuthenticated()">
        <a href="/login">Login</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>
            Logged in as:
            <strong sec:authentication="name"></strong>
        </p>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

</div>
</body>
</html>